body{
  padding: 0;
  margin: 0;
}
.menu{
    float: right;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px; 
       
}
li{
    margin: 0px 20px;
    z-index: 2;
}
a{
color:white;
text-decoration: none;
}
header{
width: 100%;
height: 700px;
background-image: url(Layer1.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.li{
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    border: 2px solid #f44336;
}
.headerflow{
    background-color:#000000a1;
    z-index: 1;
    position: absolute;
    height: 700px;
    width: 100%;    
    top: 0px;
}
.text{
   text-align: center;
    z-index: 2;
    position: absolute;
    height: 700px;
    width: 100%;    
    top: 0px; 
}
.OUR{
    text-align: left;
    color:white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    border: solid 2px white;
}
.JUST{
    text-align: left;
    color:white;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    border-bottom: solid 2px white;
}

.contian{
    background-color: #42363A;
    height: 700px;
    width: 100%;    
    top: 0px; 
    display: flex;
    justify-content: center;
 
}
.images3{
    z-index: 2;
    height: 500px;
    width: 60%;    
    top: 0px; 
    display: flex;
    justify-content: center;
    top: 20%;
    position: relative;
    justify-content: space-around;
}
.imag1{
 display: flex;
 justify-content: center;
 width: 30%;
 background-image: url(Layer6.png);
 background-repeat: repeat;
}
.imag2{
    width: 30%;
    background-image: url(Layer7.png);
    display: flex;
    justify-content: center;
    background-repeat: repeat;
}
.imag3{
    width: 30%;
    background-image: url(Layer8.png);
    display: flex;
    justify-content: center;
    background-repeat: repeat;
}
.text2{
    width: 150px;
    height: 200px;
    background-color: #D24F4B;
    margin: auto;
}
.red ,.green,.orange{
    color:white;
    font-size: 20px;
    position: relative;
    left: 15px;
    top: 65px;
}
.textfood{
    color: white;
    position: absolute;
    top: -70px;
    font-size: 30px;
    text-align: left;
    left: 19px;

}
.contian1{
    background-image: url(Layer12.png);
    height: 1000px;
    width: 100%;    
    top: 0px; 
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.contian2{
    background-color:#000000a1;
    z-index: 1;
    position: relative;
    height: 1000px;
    width: 100%;    
    top: 0px;
}
.contimages2{
    z-index: 2;
    position: relative;
  
    height: 1000px;
    width: 50%; 
    float: right;
}
.imgLayer{
    margin-top: 70px;
}
.divtext{
    z-index: 2;
    position: relative;
    
   height: 1000px;
    width: 50%; 
  
}
.text1{
    position: relative;
    left: 50%;
    margin-left: -50px;
    color: white;
    top: 6%;
}
.divtext2{
    color: white;
    position: relative;
    left: 50%;
    margin-left: -50px;
    top: 6%;


}
.divtext3{
    color: white;
    position: relative;
    left: 50%;
    margin-left: -50px;
    top: 10%;


}
.immagdiv3{
    margin-left: 2px;

}

.section1{
	background: linear-gradient( rgba(66, 54, 58, 0.7), rgba(66, 54, 58, 0.7) ), url('Layer20.png');
    height: 100vh;
    background-size: cover;

}
.section1 h1{
	font-size: 125px;
    font-family: Bebas Neue;
    color: white;
    margin-left: 20%;
    padding-top: 5%;
    margin-top: 0px;
}
.section1 .div .h{
	font-size: 
	30px;
}
.section1 .div1{
	margin-left: 
	10px;
}
.section1 .div p{
	font-size: 11px;
    margin-left: 20%;
    color: white;
    font-family: Lato;
    margin-top: 2%;
}
.section2{
	background-color:
	#42363A;
}
.section2 h1{
    font-size: 42px;
    padding-top: 7%;
    padding-left: 45%;
    font-family: Bebas Neue;
    color: white;
    margin-top: 0px;
}
.section2 p{
	font-family: lato;
    margin-left: 33%;
    margin-right: 29%;
    text-align: center;
    padding-top: 1%;
    color: white;
}
.section2 h3{
	font-family: lato;
	margin-left: 33%;
    margin-right: 29%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 7%;
    color: white;
}
.section2 h3 span{
	border: 2px solid white;
    padding: 7px 17px 7px 17px;
    margin-left: 1%;
}
.section3{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('pics/img16.png');
	height: 68vh;
}
.section3 .img1{
	width: 100%;
	height: 68vh;
}
.section3 .img2{
	position: absolute;
	margin-left: -93%;
    margin-top: 6%
}
.section3 .div1{
	position: absolute;
	margin-top: -29%;
    margin-left: 10%;
}
.section3 .div1 h1{
    font-size: 55px;
    font-family: Bebas Neue;
    color: white;
}
.section3 .div1 p{
	color: white;
    font-size: 13px;
    font-family: lato;
    margin-right: 81%;
    padding-top: 3%;
}
.section3 .div1 h3{
	color: white;
	font-size: 31px;
	font-family: Bebas Neue;
	padding-top: 2%;
}
.footer{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 25px; 
    background-color: #DC5352;
    margin: 0px;
}

.footer2{
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    justify-content: center;
    background-image: url(Layer26.png);
    background-size: cover;
}
.ourplace{
 font-size: 50px;
 border: solid 2px white;
}

.divfooter{
    font-family: Bebas Neue;
    background-color: #DC5352;
    padding: 0px 333px;
}